## B.1 Simple Data Types

### B.1.1 Numbers

In [1]:
20

20

In [2]:
-13

-13

In [3]:
7.349

7.349

### B.1.2 Strings

In [4]:
'Good morning'

'Good morning'

In [5]:
"Good afternoon"

'Good afternoon'

In [6]:
"""Good night"""

'Good night'

In [7]:
"$15 dollars!"

'$15 dollars!'

In [8]:
""

''

In [9]:
"Python"[3]

'h'

In [10]:
"Python"[-4]

't'

In [11]:
"Python"[2:5]

'tho'

In [12]:
# The two lines below are equivalent
"Python"[0:4]
"Python"[:4]

'Pyth'

In [13]:
# The two lines below are equivalent
"Python"[3:6]
"Python"[3:]

'hon'

In [14]:
"Python"[1:-1]

'ytho'

In [15]:
"Python"[0:6:2]

'Pto'

### B.1.3  Booleans

In [16]:
True

True

In [17]:
False

False

### B.1.4 The None Object

In [18]:
None

## B.2 Operators

### B.2.1 Mathematical Operators

In [19]:
3 + 5

8

In [20]:
3 - 5

-2

In [21]:
3 * 5

15

In [22]:
# 3 to the power of 5
3 ** 5

243

In [23]:
# 3 divided by 5
3 / 5

0.6

In [24]:
18 / 6

3.0

In [25]:
5 % 3

2

In [26]:
8 / 3

2.6666666666666665

In [27]:
8 // 3

2

In [28]:
"race" + "car"

'racecar'

In [29]:
"Mahi" * 2

'MahiMahi'

In [30]:
# 3 + "5"

### B.2.2 Equality and Inequality Operators

In [31]:
10 == 10

True

In [32]:
10 == 20

False

In [33]:
"Hello" == "Hello"

True

In [34]:
"Hello" == "Goodbye"

False

In [35]:
"Hello" == "hello"

False

In [36]:
10 != 20

True

In [37]:
"Hello" != "Goodbye"

True

In [38]:
10 != 10

False

In [39]:
"Hello" != "Hello"

False

In [40]:
# Checks if 5 is less than 3
-5 < 3

True

In [41]:
# Checks if 5 is greater than 7
5 > 7

False

In [42]:
# Checks if 11 is less than or equal to 11
11 <= 11

True

In [43]:
# Checks if 4 is greater than or equal to 5
4 >= 5

False

## B.3 Variables

In [44]:
name = "Boris"
age = 28
high_school_gpa = 3.7
is_handsome = True

In [45]:
name

'Boris'

In [46]:
age = 35
age

35

In [47]:
age = age + 10
age

45

In [48]:
high_school_gpa = "A+"

In [49]:
# last_name

## B.4 Functions

### B.4.1 Arguments and Return Values

In [50]:
len("Python is fun")

13

In [51]:
int("20")

20

In [52]:
float("14.3")

14.3

In [53]:
str(5)

'5'

In [54]:
# int("xyz")

In [55]:
value = 10
print(value)

value = value - 3
print(value)

value = value * 4
print(value)

value = value / 2
print(value)

10
7
28
14.0

In [56]:
print("Cherry", "Strawberry", "Key Lime")

Cherry Strawberry Key Lime

In [57]:
print("Cherry", "Strawberry", "Key Lime", sep = "!")

Cherry!Strawberry!Key Lime

In [58]:
print("Cherry", "Strawberry", "Key Lime")
print("Cherry", "Strawberry", "Key Lime", sep=" ")

Cherry Strawberry Key Lime
Cherry Strawberry Key Lime

In [59]:
print("Cherry", "Strawberry", "Key Lime", sep="*!*")

Cherry*!*Strawberry*!*Key Lime

In [60]:
print("Cherry", "Strawberry", "Key Lime", sep="!", end="\n")
print("Peach Cobbler")

Cherry!Strawberry!Key Lime
Peach Cobbler

In [61]:
print("Cherry", "Strawberry", "Key Lime", sep="!", end="***")
print("Peach Cobbler")

Cherry!Strawberry!Key Lime***Peach Cobbler

In [62]:
print(
    "Cherry", "Strawberry", "Key Lime", sep="!", end="***"
)

Cherry!Strawberry!Key Lime***

In [63]:
print(
    "Cherry",
    "Strawberry",
    "Key Lime",
    sep="!",
    end="***",
)

Cherry!Strawberry!Key Lime***

### B.4.2 Custom Functions

In [64]:
def convert_to_fahrenheit(celsius_temp):
    first_step = celsius_temp * (9 / 5)
    fahrenheit_temperature = first_step + 32
    return fahrenheit_temperature

In [65]:
convert_to_fahrenheit(10)

50.0

In [66]:
convert_to_fahrenheit(celsius_temp = 10)

50.0

## B.5 Modules

In [67]:
import datetime

In [68]:
import datetime as dt

## B.6 Classes and Objects

In [69]:
type("peanut butter")

str

In [70]:
type("jelly")

str

In [71]:
da_vinci_birthday = dt.date(1452, 4, 15)
da_vinci_birthday

datetime.date(1452, 4, 15)

### B.6.1 Attributes and Methods

In [72]:
da_vinci_birthday.day

15

In [73]:
da_vinci_birthday.month

4

In [74]:
da_vinci_birthday.year

1452

In [75]:
da_vinci_birthday.weekday()

3

## B.7 String Methods

In [76]:
"Hello".upper()

'HELLO'

In [77]:
greeting = "Hello"
greeting.upper()

'HELLO'

In [78]:
greeting

'Hello'

In [79]:
"1611 BROADWAY".lower()

'1611 broadway'

In [80]:
"uPsIdE dOwN".swapcase()

'UpSiDe DoWn'

In [81]:
"Sally Sells Seashells by the Seashore".replace("S", "$")

'$ally $ells $eashells by the $eashore'

In [82]:
"  ".isspace()

True

In [83]:
"3 Amigos".isspace()

False

In [84]:
data = "    10/31/2019  "
data.rstrip()

'    10/31/2019'

In [85]:
data.lstrip()

'10/31/2019  '

In [86]:
data.strip()

'10/31/2019'

In [87]:
"robert".capitalize()

'Robert'

In [88]:
"once upon a time".title()

'Once Upon A Time'

In [89]:
"BENJAMIN FRANKLIN".lower().title()

'Benjamin Franklin'

In [90]:
"tuna" in "fortunate"

True

In [91]:
"salmon" in "fortunate"

False

In [92]:
"factory".startswith("fact")

True

In [93]:
"garage".endswith("rage")

True

In [94]:
"celebrate".count("e")

3

In [95]:
"celebrate".find("e")

1

In [96]:
"celebrate".index("e")

1

In [97]:
"celebrate".find("z")

-1

In [98]:
# "celebrate".index("z")

## B.8 Lists

In [99]:
backstreet_boys = ["Nick", "AJ", "Brian", "Howie", "Kevin"]

In [100]:
len(backstreet_boys)

5

In [101]:
[]

[]

In [102]:
prime_numbers = [2, 3, 5, 7, 11]

In [103]:
stock_prices_for_last_four_days = [99.93, 105.23, 102.18, 94.45]

In [104]:
settings = [True, False, False, True, True, False]

In [105]:
motley_crew = ["rhinoceros", 42, False, 100.05]

In [106]:
favorite_foods = ["Sushi", "Steak", "Barbeque"]

In [107]:
favorite_foods = ["Sushi", "Steak", "Barbeque",]

In [108]:
favorite_foods = [
    "Sushi",
    "Steak",
    "Barbeque",
]

In [109]:
favorite_foods[1]

'Steak'

In [110]:
# Extract elements from index positions 1 to 3 (exclusive)
favorite_foods[1:3]

['Steak', 'Barbeque']

In [111]:
# Extract elements from start of the list to index 2 (exclusive)
favorite_foods[:2]

['Sushi', 'Steak']

In [112]:
# Extract elements from index 2 to the end of the list
favorite_foods[2:]

['Barbeque']

In [113]:
# Extract elements from index positions 0 (inclusive)
# to 3 (exclusive) in increments of 2
favorite_foods[0:3:2]

['Sushi', 'Barbeque']

In [114]:
favorite_foods.append("Burrito")
favorite_foods

['Sushi', 'Steak', 'Barbeque', 'Burrito']

In [115]:
favorite_foods.extend(["Tacos", "Pizza", "Cheeseburger"])
favorite_foods

['Sushi', 'Steak', 'Barbeque', 'Burrito', 'Tacos', 'Pizza', 'Cheeseburger']

In [116]:
favorite_foods.insert(2, "Pasta")
favorite_foods

['Sushi',
 'Steak',
 'Pasta',
 'Barbeque',
 'Burrito',
 'Tacos',
 'Pizza',
 'Cheeseburger']

In [117]:
"Pizza" in favorite_foods

True

In [118]:
"Caviar" in favorite_foods

False

In [119]:
"Pizza" not in favorite_foods

False

In [120]:
"Caviar" not in favorite_foods

True

In [121]:
favorite_foods.append("Pasta")
favorite_foods

['Sushi',
 'Steak',
 'Pasta',
 'Barbeque',
 'Burrito',
 'Tacos',
 'Pizza',
 'Cheeseburger',
 'Pasta']

In [122]:
favorite_foods.count("Pasta")

2

In [123]:
favorite_foods.remove("Pasta")
favorite_foods

['Sushi',
 'Steak',
 'Barbeque',
 'Burrito',
 'Tacos',
 'Pizza',
 'Cheeseburger',
 'Pasta']

In [124]:
favorite_foods.pop()

'Pasta'

In [125]:
favorite_foods

['Sushi', 'Steak', 'Barbeque', 'Burrito', 'Tacos', 'Pizza', 'Cheeseburger']

In [126]:
favorite_foods.pop(2)

'Barbeque'

In [127]:
favorite_foods

['Sushi', 'Steak', 'Burrito', 'Tacos', 'Pizza', 'Cheeseburger']

In [128]:
spreadsheet = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

### B.8.1 List Iteration

In [129]:
for season in ["Winter", "Spring", "Summer", "Fall"]:
    print(season)

Winter
Spring
Summer
Fall

In [130]:
letter_count = 0

for season in ["Winter", "Spring", "Summer", "Fall"]:
    letter_count = letter_count + len(season)

letter_count

22

### B.8.2 List Comprehension

In [131]:
numbers = [4, 8, 15, 16, 23, 42]

In [132]:
squares = []

for number in numbers:
    squares.append(number ** 2)

squares

[16, 64, 225, 256, 529, 1764]

In [133]:
squares = [number ** 2 for number in numbers]
squares

[16, 64, 225, 256, 529, 1764]

### B.8.3. Converting a String to a List and Vice Versa

In [134]:
empire_state_bldg = "20 West 34th Street, New York, NY, 10001"

In [135]:
empire_state_bldg.split(",")

['20 West 34th Street', ' New York', ' NY', ' 10001']

In [136]:
empire_state_bldg.split(", ")

['20 West 34th Street', 'New York', 'NY', '10001']

In [137]:
chrysler_bldg = ["405 Lexington Ave", "New York", "NY", "10174"]

In [138]:
", ".join(chrysler_bldg)

'405 Lexington Ave, New York, NY, 10174'

## B.9 Tuples

In [139]:
"Rock", "Pop", "Country"

('Rock', 'Pop', 'Country')

In [140]:
music_genres = ("Rock", "Pop", "Country")
music_genres

('Rock', 'Pop', 'Country')

In [141]:
len(music_genres)

3

In [142]:
one_hit_wonders = ("Never Gonna Give You Up")
one_hit_wonders

'Never Gonna Give You Up'

In [143]:
one_hit_wonders = ("Never Gonna Give You Up", )
one_hit_wonders

('Never Gonna Give You Up',)

In [144]:
empty_tuple = tuple()
empty_tuple

()

In [145]:
len(empty_tuple)

0

## B.10 Dictionaries

In [146]:
{}

{}

In [147]:
{ "Cheeseburger": 7.99 }

{'Cheeseburger': 7.99}

In [148]:
menu = {"Cheeseburger": 7.99, "French Fries": 2.99, "Soda": 2.99}
menu

{'Cheeseburger': 7.99, 'French Fries': 2.99, 'Soda': 2.99}

In [149]:
len(menu)

3

In [150]:
menu["French Fries"]

2.99

In [151]:
# menu["Steak"]

In [152]:
# menu["soda"]

In [153]:
menu["Taco"] = 0.99
menu

{'Cheeseburger': 7.99, 'French Fries': 2.99, 'Soda': 2.99, 'Taco': 0.99}

In [154]:
print(menu["Cheeseburger"])
menu["Cheeseburger"] = 9.99
print(menu["Cheeseburger"])

7.99
9.99

In [155]:
menu.pop("French Fries")

2.99

In [156]:
menu

{'Cheeseburger': 9.99, 'Soda': 2.99, 'Taco': 0.99}

In [157]:
"Soda" in menu

True

In [158]:
"Spaghetti" in menu

False

In [159]:
1.99 in menu.values()

False

In [160]:
499.99 in menu.values()

False

### B.10.1 Dictionary Iteration

In [161]:
capitals = {
    "New York": "Albany",
    "Florida": "Tallahassee",
    "California": "Sacramento"
}

for state, capital in capitals.items():
    print("The capital of " + state + " is " + capital + ".")

The capital of New York is Albany.
The capital of Florida is Tallahassee.
The capital of California is Sacramento.

## B.11 Sets

In [162]:
favorite_numbers = { 4, 8, 15, 16, 23, 42 }

In [163]:
set()

set()

In [164]:
favorite_numbers.add(100)
favorite_numbers

{4, 8, 15, 16, 23, 42, 100}

In [165]:
favorite_numbers.add(15)
favorite_numbers

{4, 8, 15, 16, 23, 42, 100}

In [166]:
# favorite_numbers[2]

### B.11.1 Set Operations

In [167]:
candy_bars = { "Milky Way", "Snickers", "100 Grand" }
sweet_things = { "Sour Patch Kids", "Reeses Pieces", "Snickers" }

In [168]:
candy_bars.intersection(sweet_things)

{'Snickers'}

In [169]:
candy_bars & sweet_things

{'Snickers'}

In [170]:
candy_bars.union(sweet_things)

{'100 Grand', 'Milky Way', 'Reeses Pieces', 'Snickers', 'Sour Patch Kids'}

In [171]:
candy_bars | sweet_things

{'100 Grand', 'Milky Way', 'Reeses Pieces', 'Snickers', 'Sour Patch Kids'}

In [172]:
candy_bars.difference(sweet_things)

{'100 Grand', 'Milky Way'}

In [173]:
candy_bars - sweet_things

{'100 Grand', 'Milky Way'}

In [174]:
candy_bars.symmetric_difference(sweet_things)

{'100 Grand', 'Milky Way', 'Reeses Pieces', 'Sour Patch Kids'}

In [175]:
candy_bars ^ sweet_things

{'100 Grand', 'Milky Way', 'Reeses Pieces', 'Sour Patch Kids'}

## B.12 Summary